/* reset CSS */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    margin: auto;
    background-image: linear-gradient(cornflowerblue, salmon);
    background-repeat: no-repeat;
    background-color: salmon;
}

.clear {
    clear: both;
}

/*Maly ekran*/
@media screen and (max-width: 1024px) {
    body {
        width: 95%;
    }

    aside {
        display: none
    }

    article {
        width: 80%;
    }

}

/*Duzy ekran*/
@media screen and (min-width: 1024px) {

    body {
        width: 80%;
    }

    aside {
        width: 23.5%;
        display: block;
        padding: 0.5%;
        margin: 0.25%;
        float: left;
        background-color: aqua;
    }

    article {
        width: 73.5%;
        padding: 0.5%;
        margin: 0.25%;
        float: right;
        background-color: purple;
        display: block;
    }

    nav > ul > li {
        float: left;
        width: 20%;
        display: block;
        text-align: center;
        background-color: darkseagreen;
        padding-top: 12px;
        padding-bottom: 12px;
        outline: 1px solid black;
    }

    nav > ul > li:hover {
        background: yellow;
    }

    nav > ul > li > a {
        display: block;
    }

    article h1 {
        text-align: center;
    }
}