/* reset CSS */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    margin: auto;
    transition-duration: 0.5s;
    background: linear-gradient(#6495edee, #fa8072) no-repeat fixed bottom right,
    url("../images/pomidorki.jpg") no-repeat fixed top left;
    font-size: 100%;
    font-family: Dekko, "Comic Sans MS", cursive;
}

.clear {
    clear: both;
}

span.err {
    color: red;
    font-weight: bold;
    padding-left: 5px;
}

.rounded-corners {
    border-radius: 6px;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

header {
    margin: 0.5% 0;
    display: block;
}

header > img {
    height: 15em;
    width: 15em;
    float: left;
    margin-bottom: 0.5%;
    display: block;
}

header > p {
    text-align: center;
    margin: auto;
    font-size: xx-large;
}

textarea {
    height: 10%;
}

/*Maly ekran*/
@media screen and (max-width: 1024px) {
    body {
        width: 95%;
    }

    aside {
        display: none
    }

    article {
        width: 94%;
        background-color: beige;
        display: block;
        padding: 2%;
        margin: 2% auto;
        text-align: justify;
    }

    header > img {
        display: none;
    }

    nav#top > ul > li {
        margin: 1%;
        border-radius: 10px;
        display: block;
        text-align: center;
        background: url("../images/aaasdasd.png") no-repeat 0 0, lightskyblue;
        transition-duration: 0.5s;
    }

    nav#top > ul > li:hover {
        background: url("../images/aaasdasd.png") no-repeat 0 95%, deepskyblue;
        transition-duration: 1s;
    }

    nav#top > ul > li > a {
        display: block;
        padding-top: 0.7%;
        padding-bottom: 0.7%;
        text-decoration: none;
    }

    nav#bottom > ul > li {
        margin: 1%;
        border-radius: 10px;
        display: block;
        text-align: center;
        background: url("../images/aaasdasd.png") no-repeat 0 0, orangered;
        transition-duration: 0.5s;
    }

    nav#bottom > ul > li:hover {
        background: url("../images/aaasdasd.png") no-repeat 0 95%, orange;
        transition-duration: 1s;
    }

    nav#bottom > ul > li > a {
        display: block;
        padding-top: 0.7%;
        padding-bottom: 0.7%;
        text-decoration: none;
    }

    footer {
        width: 98%;
        text-align: justify;
        margin: auto;
    }

}

/*Duzy ekran*/
@media screen and (min-width: 1024px) {

    body {
        width: 80%;
    }

    header {
        font-size: large;
        margin-top: 10%;
    }

    aside {
        width: 23.5%;
        display: block;
        padding: 0.5%;
        margin: 0.5% 0.25%;
        float: left;
        background-color: beige;
        text-align: justify;
    }

    aside > h1 {
        text-align: center;
    }

    article {
        width: 73.5%;
        padding: 0.5%;
        margin: 0.5% 0.25%;
        float: right;
        background-color: beige;
        display: block;
    }

    article h1 {
        margin: 1.5% 0;
    }

    article h2 {
        margin: 1.5% 0;
        text-align: center;
    }

    aside h2 {
        margin: 1.5% 0;
    }

    aside > p {
        margin-bottom: 4%;
    }

    header > p {
        padding-top: 3.5em;
        text-align: center;
        margin: auto;
    }

    nav#top > ul > li {
        float: left;
        width: 23%;
        margin: 1%;
        border-radius: 10px;
        display: block;
        text-align: center;
        background: url("../images/aaasdasd.png") no-repeat 0 8%, lightskyblue;
        transition-duration: 0.5s;
    }

    nav#top > ul > li:hover {
        background: url("../images/aaasdasd.png") no-repeat 0 88%, deepskyblue;
        transition-duration: 1s;
    }

    nav#top > ul > li > a {
        display: block;
        padding-top: 0.7%;
        padding-bottom: 0.7%;
        text-decoration: none;
    }

    article h1 {
        text-align: center;
    }

    nav#bottom > ul > li {
        float: left;
        display: block;
        width: 23%;
        margin: 1%;
        border-radius: 10px;
        text-align: center;
        background: url("../images/aaasdasd.png") no-repeat 0 8%, orangered;
        transition-duration: 0.5s;
    }

    nav#bottom > ul > li:hover {
        transition-duration: 1s;
        background: url("../images/aaasdasd.png") no-repeat 0 88%, orange;
    }

    nav#bottom > ul > li:active {
        background: salmon;
        transition-duration: 1ms;
    }

    nav#bottom > ul > li > a {
        display: block;
        padding-top: 0.7%;
        padding-bottom: 0.7%;
        text-decoration: none;
    }

    table {
        width: 100%;
    }

    thead td {
        background-color: orange;
        font-weight: bold;
        text-align: center;
    }

    thead td:first-child {
        background-color: greenyellow;
        font-weight: bold;
        text-align: center;
    }

    footer {
        margin-top: 0.5%;
        margin-bottom: 10%;
    }

    input {
        width: 30em;
    }

    textarea {
        width: 31em;
        resize: none;
    }

    footer {
        padding: 1%;
        background: beige;
    }

    figure {
        width: 33.33%;
        float: left;
    }

    figure > img {
        width: 88%;
        margin: 2%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 4%;
        float: left;
    }

    figure > img:hover {
        outline: 1px solid #777;
    }

    figcaption {
        text-align: center;
    }

}